.Home {

  // TODO(MB) ugly css done last minute; improve it

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  #logo-container-container {
    width: 20%;
    max-height: 200px;
    min-width: 150px;

    #logo-container {
      position: relative;
      // trick to avoid content below the image to shift down when image loads:
      // when padding is %, it refers to width of containing element
      // so logo-container height (set by its padding-bottom) is equal to
      // 27.75% of containerWidth; 27.75 was computed as 100 * height/width of our logo (img src)
      // (width and height in formula got from web inspector after having set width only originally)
      padding-bottom: 27.75%;

      #logo {
        // real logo positioned absolutely inside its container (logo-container) to fill
        // the container height (padding-bottom); if position not set, the padding-bottom would 
        // be applied after the img but it shouldn't be
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  #full-width-container {
    width: 100%;
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 50%, rgba(255, 255, 255, 0.02) 61%, rgba(0, 0, 0, 0.02) 73%), linear-gradient(33deg, rgba(255, 255, 255, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    background-blend-mode: normal, color-burn;
    display: flex;
    justify-content: center;
  }

  #chat-box {
    font-size: smaller;
    max-width: 700px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .message-box {
      margin-bottom: 15px;
      max-width: 93%;
    }

    .our-messages {
      align-self: flex-end;
    }
  }

  footer {
    margin-bottom: 60px;

    a:last-child .contact-button {
      margin-right: 0;
    }

    .contact-button {
      color: white;
      background-color: #D7DFE8;
      margin-right: 10px;

      // TODO(MB) why & does not work but rule above with .contact-button instead does?
      // a:last-child & {
      //   margin-right: 0;
      // }
  
    }
  }

  a {
    text-decoration: none;
  }

  h2 {
    padding: 0 20px 8px 20px;
  }
}