.IntroStepper {
  .MuiDialog-paper {
    width: 95%;
    height: 70%;
    max-width: 850px;
  }

  .IntroIcon.MuiSvgIcon-root {
    width: 70px;
    height: 70px;
  }

  .PreviewIntroContainer {
    padding: 30px 15%;
    text-align: center;
  }

  @media only screen and (min-width: 768px) {
    .PreviewIntroContainer {
      padding: 30px 25%;
    }
  }
}