$covid-margin: 20px;

.covid-title-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .action-button-group {
    padding-top: 15px;
    padding-bottom: 4px;
  }
}

.covid-title {
  font-weight: lighter;
  margin-bottom: 6px;
}

.covid-container {
  padding: $covid-margin;
  padding-top: 0;
}

html, body, #root {
  height: 100%;;
}
