.MessagePreview {
  position: relative;
  background: #F4F4F4;
  border-radius: .4em;
  display: inline-block;
  padding: 15px;
}
  
.bubble-triangle {
  content: '';
  position: absolute;
  left: 5px;
  top: 0px;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-left: 0;
  border-top: 0;
  margin-left: -11px;
}