.MessagePreview {
  position: relative;
  background: #F4F4F4;
  border-radius: .4em;
  padding: 15px;
  word-wrap: break-word;
}
  
.bubble-triangle {
  content: '';
  position: absolute;
  top: 0px;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-top: 0;
}