.MessagePreview {
  width: 100%;
  position: relative;
  background: #00aabb;
  border-radius: .4em;
  padding: 15px;
}
  
.MessagePreview:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 0px;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-right-color: #00aabb;
  border-left: 0;
  border-top: 0;
  margin-left: -11px;
}